/**
 * perspectiveupreturn
 */

 @include keyframes(#{$nameSpace}-perspectiveupreturn) {
     0%{
         @include prefixed(transform, perspective(800px) rotateX(-180deg));
         @include prefixed(transform-origin, "0 0");
         opacity: 0;
     }
     100%{
         @include prefixed(transform, perspective(800px) rotateX(0deg));
         @include prefixed(transform-origin, "0 0");
         opacity: 1;
     }
 }

 @mixin perspectiveupreturn {
     @include hacks();
     backface-visibility:visible!important;
     @include prefixed(transform, translateZ(0));
     &:active,
     &:hover,
     &:focus {
         @include prefixed(animation-name, #{$nameSpace}-perspectiveupreturn);
         @include prefixed(animation-duration, $slowestDuration);
         @include prefixed(animation-delay, $mediumDuration);
         @include prefixed(animation-fill-mode, forwards);
     }
 }
