body{
    margin: 0;
}
a {
    text-decoration: none;
}
.main {
    margin: 0 auto;
    max-width: 800px;
    padding: 0 20px;
}
.effects{
    margin-top: 10%;
    [class^="hvr-"]{
        margin: .5em;
        padding: 1em;
        cursor: pointer;
        background: $main-color;
        color: $while;
        font-family: 'Roboto', sans-serif;
    }
}
