@font-face {
    font-family: 'yzz';
    src: url('../fonts/cathsgbr.eot');
    src: url('../fonts/cathsgbr.eot?#iefix') format('embedded-opentype'),
    url('../fonts/cathsgbr.woff') format('woff'),
    url('../fonts/cathsgbr.ttf') format('truetype'),
    url('../fonts/cathsgbr.svg#cathsgbr') format('svg');
    font-weight: lighter;
    font-style: normal;
}
