@import "color";
header {
    text-align: center;
    span {
        font: {
            family: 'yzz';
            size: 9rem;
        }
        color: $main-color;
    }
    p{
        font:{
            size:1.5rem;
        }
    }
}
