h2 2d-transitions
a(href="#").hvr-grow grow
a(href="#").hvr-shrink shrink
a(href="#").hvr-pulse pulse
a(href="#").hvr-pulse-grow pulse-grow
a(href="#").hvr-pulse-shrink pulse-shrink
a(href="#").hvr-push push
a(href="#").hvr-pop pop
a(href="")
a(href="")
a(href="")
a(href="")
a(href="")
a(href="")
a(href="")
a(href="")
a(href="")
a(href="")
a(href="")
a(href="")
a(href="")
a(href="")
a(href="")
a(href="")
a(href="")
a(href="")
a(href="")
a(href="")
