h2 2d-transitions
a(href="#").hvr-grow Grow
a(href="#").hvr-shrink Shrink
a(href="#").hvr-pulse Pulse
a(href="#").hvr-pulse-grow Pulse Grow
a(href="#").hvr-pulse-shrink Pulse Shrink
a(href="#").hvr-push Push
a(href="#").hvr-pop Pop
a(href="#").hvr-bounce-in Bounce in
a(href="#").hvr-bounce-out Bounce out
a(href="#").hvr-rotate Rotate
a(href="#").hvr-grow-rotate Grow rotate
a(href="#").hvr-float Float
a(href="#").hvr-sink Sink
a(href="#").hvr-bob Bob
a(href="#").hvr-hang Hang
a(href="#").hvr-skew Skew
a(href="#").hvr-skew-forward Skew Forward
a(href="#").hvr-skew-backward Skew Backward
a(href="#").hvr-wobble-horizontal Wobble Horizontal
a(href="#").hvr-wobble-vertical Wobble Vertical
a(href="#").hvr-wobble-to-bottom-right Wobble To Bottom Right
a(href="#").hvr-wobble-to-top-right Wobble To Top Right
a(href="#").hvr-wobble-top Wobble Top
a(href="#").hvr-wobble-bottom Wobble Bottom
a(href="#").hvr-wobble-skew Wobble Skew
a(href="#").hvr-buzz Buzz
a(href="#").hvr-buzz-out Buzz Out 
