h2 background-transitions
a(href="#").hvr-fade Fade
a(href="#").hvr-back-pulse Back Pulse
a(href="#").hvr-sweep-to-right Sweep To Right
a(href="#").hvr-sweep-to-left Sweep To Left
a(href="#").hvr-sweep-to-top Sweep To Top
a(href="#").hvr-sweep-to-bottom Sweep To Bottom
a(href="#").hvr-bounce-to-right Bounce To Right
a(href="#").hvr-bounce-to-left Bounce To Left
a(href="#").hvr-radial-out Radial Out
a(href="#").hvr-radial-in Radial In
a(href="#").hvr-shutter-in-horizontal Shutter In Horizontal
a(href="#").hvr-shutter-out-horizontal Shutter Out Horizontal
a(href="#").hvr-shutter-out-vertical Shutter Out Vertical
a(href="#").hvr-shutter-in-vertical Shutter In Vertical
a(href="#").hvr-rectangle-in Rectangle In
a(href="#").hvr-rectangle-out Rectangle Out
