h2 background-transitions
a(href="#").hvr-fade Fade
a(href="#").hvr-back-pulse Back-Pulse
a(href="#")
a(href="#")
a(href="#")
a(href="#")
a(href="#")
a(href="#")
a(href="#")
a(href="#")
a(href="#")
a(href="#")
a(href="#")
a(href="#")
