h2 background-transitions
a(href="#").hvr-fade Fade
a(href="#").hvr-back-pulse Back Pulse
a(href="#").hvr-sweep-to-right Sweep To Right
a(href="#")
a(href="#")
a(href="#")
a(href="#")
a(href="#")
a(href="#")
a(href="#")
a(href="#")
a(href="#")
a(href="#")
a(href="#")
