h2 background-transitions
a(href="#").hvr-fade Fade
a(href="#").hvr-back-pulse Back Pulse
a(href="#").hvr-sweep-to-right Sweep To Right
a(href="#").hvr-sweep-to-left Sweep To Left
a(href="#").hvr-sweep-to-top Sweep To Top
a(href="#").hvr-sweep-to-bottom Sweep To Bottom
a(href="#")
a(href="#")
a(href="#")
a(href="#")
a(href="#")
a(href="#")
a(href="#")
a(href="#")
