h2 Border Transitions
a(href="#").hvr-border-fade Border Fade
a(href="#").hvr-hollow Hollow
a(href="#").hvr-trim Trim
a(href="#").hvr-outline-out Outline Out
a(href="#").hvr-outline-in Outline In
a(href="#").hvr-ripple-out Ripple Out
a(href="#").hvr-ripple-in Ripple In
a(href="#").hvr-round-corners Round Corners
a(href="#").hvr-underline-from-left Underline From Left
a(href="#").hvr-underline-from-center Underline From Center
a(href="#").hvr-underline-from-right Underline From Right
a(href="#").hvr-reveal Reveal
a(href="#").hvr-underline-reveal Underline Reveal
a(href="#").hvr-ants Ants
