h2 Border Transitions
a(href="#").hvr-border-fade Border Fade
a(href="#").hvr-hollow Hollow
a(href="#").hvr-trim Trim
a(href="#").hvr-outline-out Outline Out
a(href="#").hvr-outline-in Outline In
a(href="#").hvr-ripple-out Ripple Out
a(href="#")
