h2 Icons
h4 使用 
    a(href="http://fontawesome.io/") Foot-Awesome
a(href="#").hvr-icon-back Icon Back
a(href="#").hvr-icon-forward Icon ForWard
a(href="#").hvr-icon-down Icon Down
a(href="#").hvr-icon-up Icon Up
a(href="#").hvr-icon-spin Icon Spin
a(href="#").hvr-icon-fade Icon Fade
a(href="#").hvr-icon-grow Icon Grow
a(href="#").hvr-icon-shrink Icon Shrink
a(href="#").hvr-icon-pulse Icon Pulse
a(href="#").hvr-icon-pulse-grow Icon Pulse Grow
a(href="#").hvr-icon-pulse-shrink Icon Pulse Shrink
a(href="#").hvr-icon-push Icon Push
a(href="#").hvr-icon-pop Icon Pop
a(href="#").hvr-icon-bounce Icon Bounce
a(href="#").hvr-icon-rotate Icon Rotate
a(href="#").hvr-icon-grow-rotate Icon Grow Rotate
a(href="#").hvr-icon-float Icon Float
a(href="#").hvr-icon-sink Icon Sink
a(href="#").hvr-icon-wobble-horizontal Icon Wobble Horizontal
a(href="#").hvr-icon-wobble-vertical Icon Wobble Vertical
a(href="#").hvr-icon-buzz Icon Buzz
a(href="#").hvr-icon-buzz-out Icon Buzz Out
a(href="#").hvr-icon-float-away Icon Float Away
a(href="#").hvr-icon-sink-away Icon Sink Away
a(href="#").hvr-icon-gavel-rotate Icon Gavel Rotate
a(href="#").hvr-icon-face Icon Face
