h2 Magic
a(href="#").hvr-magic Magic
a(href="#").hvr-twisterinup Twisterin Up
a(href="#").hvr-twisterindown Twisterin Down
a(href="#").hvr-swap Swap
a(href="#").hvr-opendownleft Open Down Left
a(href="#").hvr-opendownright Open Down Right
a(href="#").hvr-openupleft Open Up Left
a(href="#").hvr-openupright Open Up Right
a(href="#").hvr-openuprightout Open Up Right Out
a(href="#").hvr-openupleftout Open Up Left Out
a(href="#").hvr-opendownrightout Open Down Right Out
a(href="#").hvr-opendownleftout Open Down Left Out
a(href="#").hvr-perspectivedown Perspective Down
a(href="#").hvr-perspectiveup Perspective Up
a(href="#").hvr-perspectiveleft Perspective Left
a(href="#").hvr-perspectiveright Perspective Right
a(href="#").hvr-perspectivedownreturn Perspective Down Return
a(href="#").hvr-perspectiveupreturn Perspective Up Return
