h2 Magic
a(href="#").hvr-magic Magic
a(href="#").hvr-twisterinup Twisterin Up
a(href="#").hvr-twisterindown Twisterin Down
a(href="#").hvr-swap Swap
a(href="#").hvr-opendownleft Open Down Left
a(href="#").hvr-opendownright Open Down Right
a(href="#").hvr-openupleft Open Up Left
a(href="#").hvr-openupright Open Up Right
