h2 Shadow and Glow Transitions
a(href="#").hvr-shadow Shadow
a(href="#").hvr-glow-shadow Glow Shadow
a(href="#").hvr-float-shadow Float Shadow
a(href="#").hvr-glow Glow
a(href="#").hvr-shadow-radial Shadow Radial
a(href="#").hvr-box-shadow-outset Box Shadow Outset
a(href="#").hvr-box-shadow-inset Box Shadow Inset
