h2 Speech Bubbles
a(href="#").hvr-bubble-top Bubble Top
a(href="#").hvr-bubble-right Bubble Right
a(href="#").hvr-bubble-bottom Bubble Bottom
a(href="#").hvr-bubble-left Bubble Left
a(href="#").hvr-bubble-float-top Bubble Float Top
a(href="#").hvr-bubble-float-right Bubble Float Right
a(href="#").hvr-bubble-float-bottom Bubble Float Bottom
a(href="#").hvr-bubble-float-left Bubble Float Left
