/**
 * reveal
 */

@mixin reveal {
    @include hacks();

    position:relative;
    overflow:hidden;

    &:before{
        content: '';
        position: absolute;
        z-index: -1;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        border-color: $hoverColor;
        border-style: solid;
        border-width: 0;
        @include prefixed(transition-property, border-width);
        @include prefixed(transition-duration, $mediumDuration);
        @include prefixed(transition-timing-function, ease-out);
    }

    &:active,
    &:focus,
    &:hover {
        &:before {
            @include prefixed(transform, translateY(0));
            border-width: 4px;
        }
    }
}
