/**
 * underline-from-left
 */

@mixin underline-from-left {
    @include hacks();
    position: relative;
    overflow: hidden;
    &:before {
        content: '';
        position: absolute;
        z-index: -1;
        height: 4px;
        bottom:0;
        left:0;
        right:100%;
        background: $hoverColor;
        @include prefixed(transition-duration,$mediumDuration);
        @include prefixed(transition-property,"right");
        @include prefixed(transition-timing-function, ease-out);
    }

    &:hover:before,
    &:focus:before,
    &:active:before {
        right: 0;
    }
}
