<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        title yzz-hover-css
        link(rel="stylesheet", href="css/main.css")
        link(rel="stylesheet", href="css/hover.css")
        link(rel="icon", href="http://7xp1k3.com1.z0.glb.clouddn.com/octocat-de-los-muertos.jpg")
        link(rel="stylesheet", href="http://libs.useso.com/js/font-awesome/4.2.0/css/font-awesome.min.css")
    body
        .main
            include comment/header
            .effects
                include comment/2d-transitions
                include comment/background-transitions
                include comment/border-Transitions
                include comment/icons
                include comment/Shadow-Glow-Transitions
                include comment/speech-Bubbles
                include comment/curls
                include comment/magic
                include comment/footer
                
