/**
 * radial out
 */
 @mixin radial-out {
     @include hacks();
     position: relative;
     overflow: hidden;
     @include prefixed(transition-duration,$mediumDuration);
     &:before {
         content: "";
         position: absolute;
         z-index: -1;
         left: 0;
         right: 0;
         top: 0;
         bottom: 0;
         background-color: $hoverColor;
         border-radius: 100%;
         @include prefixed(transform,scale(0));
         @include prefixed(transition-duration,$mediumDuration);
         @include prefixed(transition-property,transform);
         @include prefixed(transition-timing-function,ease-out);
     }
     &:active,
     &:focus,
     &:hover {
         &:before{
             @include prefixed(transform,scale(2));
         }
     }
 }
