/**
 * icon-face
 */

@mixin icon-face {
    @include hacks();
    position: relative;
    padding-right: 2.4em !important;
    overflow: hidden;
    &:before {
        content: "\f118";
        position: absolute;
        font-size: 29px;
        right: 0em;
        padding: 0 4px;
        font-family: FontAwesome;
        @include prefixed(transition-duration, $mediumDuration);
        @include prefixed(transition-property, transform);
    }
    &:active,
    &:focus,
    &:hover {
        &:before {
            display: none;
        }
        &:after {
            content: "\f119";
            position: absolute;
            font-size: 29px;
            right: 0em;
            padding: 0 4px;
            font-family: FontAwesome;
            @include prefixed(transition-duration, $mediumDuration);
            @include prefixed(transition-property, transform);
        }
    }
}
